<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @student.name %>
</p>

<p>
  <strong>Last name 1:</strong>
  <%= @student.last_name1 %>
</p>

<p>
  <strong>Last name 2:</strong>
  <%= @student.last_name2 %>
</p>

<p>
  <strong>Email:</strong>
  <%= @student.email %>
</p>

<p>
  <strong>Birthdate:</strong>
  <%= @student.birthdate %>
</p>

<p>
  <strong>Address:</strong>
  <%= @student.address %>
</p>

<p>
  <strong>Cp:</strong>
  <%= @student.cp %>
</p>

<p>
  <strong>City:</strong>
  <%= @student.city %>
</p>

<%= link_to 'Edit', edit_student_path(@student) %> |
<%= link_to 'Back', students_path %>
